
main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#feedback {
    font-size: 3em;
}

#input {
    font-size: 2em;
}

#input * {
    font-size: inherit;
}

[type=button] {
    background-color: rgb(187, 134, 237);
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    transition: 0.5s;
}

[type=text] {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    border-color: rgb(164, 107, 217);
    text-align: center;
}

[type=button]:hover {
    background-color: rgb(149, 107, 217);
    color: #e3e3e3;
    transition: 0.5s;
}

#glyph-space {
    width: 100%;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.2em;

    font-size: 5em;
}

.compelte-syllable, .no-close-syllable, .ncdv-syllable {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 1em;
}

.bound {
    background-color: black;
    width: 100%;
    height: 0.0625em;
}

.complete-lateral-panels, .no-close-lateral-panels,  .ncdv-lateral-panels {
    display: flex;
    column-gap: 0.0625em;

    height: 0.9375em;
    width: fit-content;
}

.complete-left-panel, .no-close-left-panel, .no-close-right-panel, .ncdv-left-panel {
    display: flex;
    column-gap: 0.0625em;

    width: fit-content;
    height: 100%;
    align-items: baseline;
}

.complete-right-panel, .ncdv-right-panel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
}

.complete-right-top-panel, .ncdv-right-top-panel {
    display: flex;
    align-items: baseline;
    justify-content: end;
    column-gap: 0.0625em;

    width: 100%;
    height: 0.4375em;
}

.complete-right-bottom-panel, .ncdv-right-bottom-panel {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    column-gap: 0.0625em;

    width: 100%;
    height: 0.4375em;
}

.ncdv-right-bottom-panel {
    justify-content: end;
}

.phoneme {
    height: 100%;
}